body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	color: white;
}
header {
	padding: 30px;
	text-align: center;
	background-color: rgb(36, 33, 33);
}

main {
	max-width: 1100px;
	margin: 0 auto;
	padding: 15px;
}

#gameList {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
	justify-content: start;
}

.game-card {
	background-color: rgb(61, 65, 68);
	padding: 20px;
	border-radius: 5%;
	border: 1px solid rgb(109, 116, 120);
}